# PROJECT_NAME: The name of the project.
PROJECT_NAME=sari
#
# DATA_MOUNT: The path to the directory where Turtle data and index is stored.
DATA_MOUNT=./data
INDEX_MOUNT=./index

# ACCESS_TOKEN: A secret token used for authentication to the QLever backend.
ACCESS_TOKEN=your-secret_token

# COMPOSE_FILE: Colon-separated list of docker-compose files to use.
COMPOSE_FILE=./docker-compose.yml

#### Only for local development ####

# Compose file to use. Uncomment for local development
# COMPOSE_FILE=docker-compose.dev.yml:./docker-compose.local.yml

# PORT_QLEVER: The port number on which the QLever backend service runs.
# PORT_QLEVER_UI: The port number on which the QLever UI service runs.
PORT_QLEVER=7001
PORT_QLEVER_UI=7000

### Production ###

# Compose file to use. Uncomment for production
#COMPOSE_FILE=./docker-compose.yml:./docker-compose.prod.yml

# Name of the Docker network where the Nginx proxy is running
PROXY_NETWORK_NAME=nginx_proxy_network

# Domain name where the application should be available
HOST_NAME_QLEVER=xxx
HOST_NAME_QLEVER_UI=xxx

# Email address used for Let's Encrypt
LETSENCRYPT_EMAIL=xxx